<h1>About Us</h1>

<div class="about-page">
    <div class="about-app">
        <p>
            Meet Plan It — where organization meets simplicity. Created to bring harmony 
            to your busy life, our app is your one-stop solution for all things planning 
            and listing.
        </p>
        <p>
            Our tool doesn't just help you manage tasks—it transforms the way you tackle your 
            day. With a sleek design and intuitive interface, we make planning accessible, 
            effortless, and, dare we say, enjoyable. From daily chores to life-changing goals, 
            keep everything in check, anytime, anywhere, on any device.
        </p>
        <p>
            At Plan It, we're more than an app; we're a community. Join us, 
            share insights, learn from others, and embark on a journey to a more organized 
            life. Your enhanced lifestyle is just a click away.
        </p>
    </div>

    <div class="about-team">
        <h2>Meet the Team</h2>
        <div id="Andrew">
            <img src="../assets/images/andrew-349.png" alt="andrew">
            <p>
                Hello, my name is Andrew Delos Reyes. I am a Computer Science major attending CSUF, 
                and it is my last semester here. I've been enjoying video games since I was five 
                years old, and have gone pro in some games. I've been practicing making my own games 
                for about 2 years now so that I may be able to release a high quality game on Steam 
                one day, as a way of giving back to the community.
            </p>
        </div>
        <div id="Victoria">
            <img src="#" alt="victoria">
            <p>
                Hello, my name is Andrew Delos Reyes. I am a Computer Science major attending CSUF, 
                and it is my last semester here. I've been enjoying video games since I was five 
                years old, and have gone pro in some games. I've been practicing making my own games 
                for about 2 years now so that I may be able to release a high quality game on Steam 
                one day, as a way of giving back to the community.
            </p>
        </div>
        <div id="Ari">
            <img src="#" alt="ari">
            <p>
                Hello, my name is Andrew Delos Reyes. I am a Computer Science major attending CSUF, 
                and it is my last semester here. I've been enjoying video games since I was five 
                years old, and have gone pro in some games. I've been practicing making my own games 
                for about 2 years now so that I may be able to release a high quality game on Steam 
                one day, as a way of giving back to the community.
            </p>
        </div>
        <div id="Kj">
            <img src="#" alt="kj">
            <p>
                Hello, my name is Andrew Delos Reyes. I am a Computer Science major attending CSUF, 
                and it is my last semester here. I've been enjoying video games since I was five 
                years old, and have gone pro in some games. I've been practicing making my own games 
                for about 2 years now so that I may be able to release a high quality game on Steam 
                one day, as a way of giving back to the community.
            </p>
        </div>
    </div>
</div>