{{!-- Dashboard Theme --}}
<link rel="stylesheet" type="text/css" href="/assets/css/_remake.css">
<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<p></p>

<h1>Welcome to your Personal Dashboard!</h1>

<button class="list__add-list" new:list><span class="material-icons">format_list_bulleted_add</span></button>

<div class="dashboard-container">
  <div class="dashboard" array key="lists" sortable="lists">
    {{#for list in lists}}
      <div 
        class="list" object key:list-heading="@search" default:list-heading="List"
      >
        <div class="list__top">
          <h3 
            class="list__text"
            target:list-heading="@innerText" edit:list-heading>{{default list.listHeading "New List"}}
            </h3>
        </div>
        <div 
          class="list__items"
          key="items"
          array
          sortable="items"
        >
          {{#for item in list.items}}
            <div 
              class="item" object key:item-text="@search" edit:item-text
            >
            <input type="checkbox" class="mdc-checkbox__native-control"/>
              <p 
                class="item__text"
                target:item-text="@innerText">{{default item.itemText "new list item"}}
                </p>
            </div>
          {{/for}}
        </div>
        <div class="list__add-item-container">
          <button class="list__add-item" new:item><span class="material-icons">add</span></button>
        </div>
      </div>
    {{/for}}
  </div>
</div>