{{!-- Dashboard Theme --}}
<p></p>

<h1>Welcome to your Personal Dashboard!</h1>

<button new:list>Create New List</button>

<div class="dashboard-container">
  <div class="dashboard" array key="lists" sortable="lists">
    {{#for list in lists}}
      <div 
        class="list" object key:list-heading="@search" default:list-heading="List"
        style = "border: 1px solid gray; width:200px;"
      >
        <div class="list__top">
          <p 
            class="list__text"
            target:list-heading="@innerText" edit:list-heading>{{default list.listHeading "New List"}}
            </p>
        </div>
        <div 
          class="list__items"
          key="items"
          array
          sortable="items"
        >
          {{#for item in list.items}}
            <div 
              class="item" object key:item-text="@search" edit:item-text
            >
              <p 
                class="item__text"
                style = "border: .5px solid gray; width: 150px;"
                target:item-text="@innerText">{{default item.itemText "new list item"}}
                </p>
            </div>
          {{/for}}
        </div>
        <div class="list__add-item-container">
          <button class="list__add-item" new:item>add new item</button>
        </div>
      </div>
    {{/for}}
  </div>
</div>