<div class = "forgotPasswordContainer"> 
  <form action="/user/forgot" method="post">
    <h1>Forgot Password</h1>
    <input class = "username" type="text" name="username" placeholder="Your username" required>
    <button class = "resetPassword" type="submit">Send reset password link</button>
  </form>
</div>

