html[dashboard-theme="light mode"] {
    --bg-color: white;
    --text-color: black;
    --accent-color: black;
    --other-accent: #2A7F62;
    --third-color: #DB162F;
    --border-color: black;
}

html[dashboard-theme="dark mode"] {
    --bg-color: #353030;
    --text-color: white;
    --accent-color: #C73E1D;
    --other-accent: #A44200;
    --third-color: #4E6766;
}

html[dashboard-theme="dark mode"] button {
    color: white;
}

html[dashboard-theme="dark mode"] .timer-buttons {
    color: white;
    border: 1px white solid;
}
html[dashboard-theme="fun mode"] {
    --bg-color: hotpink;
    --text-color: #000000;
    --other-accent: white;
    --accent-color: #613DC1;
    --third-color: #3E885B;
}

* {
    font-family:'Courier New', Courier, monospace;    
    --transition-time: 0s;
    text-decoration: none;
}

h1{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.material-icons {
    color: var(--text-color);
    transition: var(--transition-time);
}

.dashboard {
    display: flex;
}

button {
    background-color: var(--bg-color);
    border: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;

}

button:hover {
    background: var(--third-color);
}

.list {
    background-color:var(--bg-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    flex-grow: 1; 
    margin: 0 10px; 
    padding: 10px;
    box-sizing: border-box;
}

.list__text {
    text-align: center;
    font-weight: bold;
    color: var(--accent-color);
}

.item__text {
    background-image: linear-gradient(var(--other-accent), var(--other-accent));
    background-repeat: no-repeat;
  
    background-size: 0px 100%;
    transition: background-size 0.5s;
}


.item {
    display: flex;
}

.item__text {
    background: linear-gradient(var(--other-accent), var(--other-accent));
    background-repeat: no-repeat;
  
    background-size: 0px 100%;
    transition: background-size 0.5s;
}

html,
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: var(--transition-time);
}

p {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: var(--transition-time)

}
.list__add-list{
    margin: 50px;
}

/*Navbar css, navbar found in app/layouts/default.hbs*/

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    padding: 10px 20px; 
    position: fixed; 
    top: 0;
    width: 97%;
    background-color: #ffffff;
    height: 4vh; 
}

.navbar a {
    color: var(--text-color);
    font-weight: bold;
    text-decoration: none; 
    font-size: 22px;
    margin-left: 20px; 
}

.logo {
    width: 200px; 
    height: 200px; 
    margin-right: auto;  
}

/*login and sign up css*/
.loginContainer, .signUpContainer, .forgotPasswordContainer{
    margin-top: 12vh;
    position: relative;
    justify-content: center;
    display: flex;
    text-align: center;
}

.loginH1{
    margin-bottom: 25px;
}

.usernameHeader, .emailHeader, .passwordHeader, .forgotPassword {
    color: var(--text-color);
    display: flex;
    margin: 25px auto;
}

.username, .password, .email{
    display: flex;
    width: 100vw;
    max-width: 550px;
    height: 30px;
    padding: 5px;
}

.forgotPassword{
    font-weight: bold;
    color: var(--other-accent);
}

.loginButton, .signUpButton, .resetPassword{
    cursor: pointer;
    border-radius: 25px;
    font-weight: 600;
    margin: 0 10px;
    width: 200px;
    padding: 10px 0;
    box-shadow: 0 0 20px var(--other-accent);
    transition: 0.4s;
    color: var(--text-color);
    background-color: var(--bg-color);
    border: 1px solid var(--accent-color);
    margin-bottom: 20px;
}

.signUpButton, .resetPassword{
    margin-top: 40px;
}

.loginButton:hover, .signUpButton:hover {
    color: var(--bg-color);
    width: 200px;
    box-shadow: 0 0 20px var(--third-color);
    background-color: var(--text-color);
}

.dashboard-container {
    margin-top: 15px;
}