html[dashboard-theme="light mode"] {
    --bg-color: #FFFFFF;
    --text-color: black;
    --accent-color: #48BBFF;
    --other-accent: #2A7F62;
    --third-color: #DB162F;
}

html[dashboard-theme="dark mode"] {
    --bg-color: #000000;
    --text-color: white;
    --accent-color: #C73E1D;
    --other-accent: #A44200;
    --third-color: #4E6766;
}

html[dashboard-theme="fun mode"] {
    --bg-color: hotpink;
    --text-color: #000000;
    --other-accent: white;
    --accent-color: #613DC1;
    --third-color: #3E885B;
}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --transition-time: 1s;
}

.material-icons {
    color: var(--text-color);
    transition: var(--transition-time);
}

.dashboard {
    display: flex;
}

.list {
    border-radius: 15px;
    border-color: var(--text-color);
    padding: 10px;
    margin: 10px;
    border-width: 2px;
    border-style: solid;
    display:block;
    width: 175px;

}

.list__text {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: var(--accent-color);

}

.item {
    display: flex;
}

.item__text {
    background-image: linear-gradient(var(--other-accent), var(--other-accent));
    background-repeat: no-repeat;
  
    background-size: 0px 100%;
    transition: background-size 0.5s;
}

.item__text:hover {
    background-size: 100% 100%;
}

html,
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: var(--transition-time);
}

p {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: var(--transition-time)

}

button {
    background: transparent;
    outline: none;
    border: none;
    transition: all 0.25s;
    border-radius: 100px;
}

button:hover {
    background: var(--third-color);
}