html[dashboard-theme="light mode"] {
    --bg-color: #FFFFFF;
    --text-color: black;
    --accent-color: #48BBFF;
}

html[dashboard-theme="dark mode"] {
    --bg-color: #000000;
    --text-color: white;
}

html[dashboard-theme="fun mode"] {
    --bg-color: hotpink;
    --text-color: #000000;
}

* {
}

.list {
    border-radius: 15px;
    border-color: var(--text-color);
    padding: 10px;
    margin: 10px;
    border-width: 2px;
    border-style: solid;
}

.list__text {
    font-weight: bold;
    color: var(--accent-color);

}

html,
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: var(--transition-time);
}


body[key\:dashboard-theme="dark mode"] {
    background: #222;
    color: #fff;
    font-size: 500px;
    transition: var(--transition-time);
  }

p {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: var(--transition-time)

}